{% extends "accounts/layout.html" %}

{% block content %}
    <h3>{{ user }}'s Profile</h3>

    <table class="table table-hover table-bordered">
        <tr>
            <th>phone</th>
            <td>{{ user.profile.phone }}</td>
        </tr>
        <tr>
            <th>addr</th>
            <td>{{ user.profile.addr }}</td>
        </tr>
        <tr>
            <th>date_joined</th>
            <td>{{ user.date_joined }}</td>
        </tr>
    </table>

    <a href="{% url "profile_edit" %}" class="btn btn-primary">프로필 수정</a>

{% endblock %}

